@use '../utils/variables' as *;

.card {
  display: grid;
  grid-template-columns: 1fr;

  &__image,
  &__description {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  &__description {
    align-self: end;
    color: $white;
    text-transform: uppercase;
    padding: 0 0 1rem 1rem;
    line-height: normal;
    font-size: 1.5rem;
  }
}