@use '../utils/variables' as *;

.card {
  position: relative;

  &__description {
    position: absolute;
    inset: auto auto 1.5rem 1.5rem;
    color: $white;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: 500;
  }
}