@use '../utils/variables' as *;

.main__btn {
  grid-row: 10;
  width: 40%;
  justify-self: center;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: $alata;
  color: $black;
  letter-spacing: 0.25rem;
  border: 1px solid $very-dark-gray;
  background-color: $white;

  @media screen and (min-width: 43.75em) {
    grid-row: 6;
    grid-column: span 2;
  }

  @media screen and (min-width: 64em) {
    grid-row: 5;
    grid-column: span 4;
    width: 30%;
  }
}