@use '../utils/variables' as *;

.feature {
  padding: 5.5rem 1.5rem;
  margin-inline: auto;

  &__description {
    color: $black;
    text-align: center;
    padding: 2rem;
  }

  h1 {
    padding-block-end: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  p {
    color: $very-dark-gray;
    max-width: 40ch;
    margin: auto;
  }

  @media screen and (min-width: 43.75em) {
    padding: 10em 3rem;
    display: grid;

    &__illustration,
    &__description {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }

    &__description {
      z-index: 3;
      justify-self: flex-end;
      background-color: $white;
      height: fit-content;
      width: 60%;
      margin-block-start: 9rem;
    }

    &__illustration {
      width: 65%;
    }

    h1 {
      max-width: 15ch;
      margin: auto;
    }
  }

  @media screen and (min-width: 64em){
    padding-inline: 4rem;
  }

  @media screen and (min-width: 90em) {
    padding-inline: 8rem;
    &__description {
      width: 50%;
      margin-block-start: 12rem;
    }
    &__illustration {
      width: 75%;
    }
  }
}